body   {
	font-family: Arial; 
	background-image: url("background.jpeg");
	background-position: top left;
	background-repeat: repeat-y;
	margin: auto;
	max-width: 1000px;
}
p {
	color: #003366; 
	font-size: 16px;
}		
h1, h2 {
	color: #339966;
}
h1 {
	font-size: 24px;
	border-bottom: 1px solid #339966;
} 
h2  {
	font-size: 20px;
	clear: both;
	padding-top: 20px;
} 
img {
	float: left;
	padding: 20px;
}
#para {
	padding: 20px;
}

