body {
margin: 20px;
padding: 0px;
background-color: #FFFFFF;
font-family: Verdana,sans-serif;
font-size: 12px;
color: #000000;
}

h1 {
font-family: Verdana,sans-serif;
font-size: 16px;
color: #0090E0;
}
#KontaktForm {
font-family: Verdana,sans-serif;
font-size: 12px;
color: #5F5F5F;
background-color: #FFFFFF;
border: 1px solid #CFCFCF;
width: 450px;
line-height:130%;
text-align: left;
}

.kurz {
color: #5F5F5F;
background-color: #FFFFFF;
border: 1px solid #7F9DB9;
width: 50px;
height: 20px;
line-height: 130%;
text-align: center;
}

input, textarea {
border: 1px solid #AFAFAF;
background-color: #FFFFFF;
width: 250px;
}

.butt {
cursor: pointer;
color: #5F5F5F;
background-color: #FAFAFA;
width: 100px;
}

-->