body {
	display: -webkit-flex;
	display: flex;
	-webkit-flex: row;
    flex-direction: row;
	flex-wrap: wrap;
}

header,
nav,
article,
section,
aside,
footer {
	border-radius: 0px 0.5em 0.5em;
	border: 1px solid;
	padding: 10px;
	margin: 10px;
	-webkit-flex: 1 100%;
	flex: 1 100%;
}

header {
	background: #F1F3F4;
	border-color: #d5d5d5;
}

nav {
	background: #fffbf0;
	border-color: #e7c157;
}

section {
	background: #F1F3F4;
	border-color: slateblue;
}

article {
	background: #ffede0;
	border-color: #df6c20;
	-webkit-flex: 3 1 0%;
	flex: 3 1 0%;
}

aside {
	background: #ebf5d7;
	border-color: #8db243;
	-webkit-flex: 1 1 0%;
	flex: 1 1 0%;
}

footer {
	background: #e4ebf2;
	border-color: #8a9da8;
}