#navibereich li {
  display: inline;            /* Listenelemente nebeneinander */
  list-style-type: none;      /* Aufzählungszeichen entfernen */
}

navibereich {
  background-color: #F7FFC3;        /* Hintergrundfarbe für die Navigation */
  padding: 4px 0;                   /* Innenabstand: oben/unten 4px, li/re 0 */
  margin: 0;                        /* Keinen Außenabstand */
}

#navibereich a {
  color: black;                  /* Schriftfarbe schwarz */ 
  text-decoration: none;         /* Unterstreichung entfernen */ 
  padding: 4px 8px;              /* oben/unten 4px, re/li 8px */
}
 