* {
    margin: 0;
    padding: 0;
}
header {
    /* background-color: yellow; */
    background-image: url(bilder/wuestenlaeufer-1-ohr.png);
    height: 151px;
    width: 900px;
    margin: 0 auto;
}
header p {
    /* background-color: orange; */
    text-align: right;
    padding-right: 15px;
}
header a {
    color: white;
}
#logotext {
    padding-top: 50px;
    font-size: 20pt;
    color: white;
}
#steuerungoben {
    background-color: red;
}
#steuerunglinks {
    background-color: green;
    width: 220px;
    float: left;
}
aside {
    /* background-color: #808000; */
    width: 175px;
    float: right;
}
footer {
    background-color: brown;
}
body {
    text-align: center;
    background-image: url(bilder/duene.jpg);
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}
header, nav, footer, aside, section {
    display: block;
}
#wrapper {
    /* background-color: #eeeeee; */
    width: 900px;
    /* border: 2px solid red; */
    margin: 0 auto;
    text-align: left; 
    background-image: url(bilder/durchsichtig8.png);   
}
#steuerunglinks {
    /* background-color: green; */
    width: 220px;
    float: left;
}
#steuerunglinks ul {
    padding-left: 2em;
    padding-top: 20px;
    list-style-type: none;
}

#steuerunglinks ul ul {
    list-style-type: square;
}
#steuerunglinks li {
    padding-bottom: 0.5em;
}
#steuerungoben ul {
    list-style-type: none;
}
#steuerungoben a {
    display: block;
    width: 230px;
    background-color: yellow;
    float: left;
    border-right: 1px solid red;
    text-align: center;
}
#steuerungoben a:hover {
    background-image: url(bilder/grau-50.png);
}
#steuerungoben {
    /* background-color: red; */
    background-image: url(bilder/grau-50.png);
    height: 24px;
}
#steuerungoben li {
    display: inline;
}
#steuerungoben a {
    display: block;
    width: 230px;
    /* background-color: yellow; */
    float: left;
    /* border-right: 1px solid red; */
    text-align: center;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
section {
    /* background-color: orange; */
    margin-left: 250px;
    margin-right: 195px;
}
section h1 {
    padding-top: 20px;
    padding-bottom: 0.4em;
    color: #dd9661;
}
section p {
    padding-bottom: 1em;
}
section h2 {
    color: #dd9661;
    padding-top: 1em;
    padding-bottom: 0.6em;
}
section ul {
    padding-left: 3em;
}
section li {
    padding-bottom: 0.5em;
}
aside {
    /* background-color: #808000; */
    width: 175px;
    float: right;
}
aside p {
    margin-top: 20px;
    margin-left: 10px;
}
aside img {
    /* margin-left: 10px; */ 
    border:1px solid silver;
}
footer {
    /* background-color: brown; */
    background-image: url(bilder/grau-50.png);
    color: white;
    text-align: center;
    clear: both;
}